.nav {
  @apply w-full border-b-gray-100 px-4 py-0 border-b border-solid;
}
.navSection {
  @apply flex items-center justify-center flex-col h-full m-0 py-0;
}
@media (min-width: 480px) {
  .navSection {
    @apply justify-between flex-row;
  }
}
.navName {
  @apply flex justify-center items-center shrink-0 grow mt-[0.8em] mb-0 mx-0;
}
@media (min-width: 480px) {
  .navName {
    @apply justify-start mt-0;
  }
}
.navName a {
  @apply text-gray-500 text-[1.2rem] font-[bold] no-underline border-b-[solid] border-b-transparent hover:text-blue-500;
}
@media (min-width: 480px) {
  .navName a {
    @apply ml-[-0.5em] p-[0.5em];
  }
}
.navSearch {
  @apply grow-0 ml-[1em];
}
.navSearch form {
  @apply flex items-center justify-center relative w-full h-full p-[1em];
}
@media (min-width: 480px) {
  .navSearch form {
    @apply justify-end mr-[-1rem];
  }
}
.navSearch input {
  @apply text-[0.845em];
}
.navSearch button {
  @apply text-[1.2em] cursor-pointer p-[1.045em] border-[none];
  background: none;
  outline: none;
}
.navSearch button[disabled] svg {
  @apply fill-gray-200 transition-[fill] duration-500;
}
.navSearch button svg {
  @apply fill-gray-400 translate-y-0.5;
}
.navSearch button:focus svg {
  @apply fill-blue-500;
}
.navSearchResults {
  @apply hidden absolute w-screen bg-[white] shadow-[0_3px_6px_rgba(0,0,0,0.3)] border-t-blue-500 mr-[-1rem] z-[999] p-[1.5em] border-t-[solid] right-0 top-full;
}
@media (min-width: 480px) {
  .navSearchResults {
    @apply w-[30em] mr-0;
  }
}
[data-search-is-active='true'] .navSearchResults {
  @apply block;
}
.navSearchResults p {
  @apply leading-[1.15] m-0;
}
.navSearchResults ul {
  @apply mt-[-0.5em] mb-[-0.5em] mx-0 p-0;
  list-style: none;
}
.navSearchResults a {
  @apply block text-gray-800 no-underline mr-[-0.5em] ml-[-0.5em] my-0 p-[0.5em];
}
.navSearchResults a:focus {
  outline: 2px solid blue-500;
}
@media (hover: hover) {
  .navSearchResults a:hover {
    @apply text-blue-500;
  }
}
.navMenu {
  @apply flex items-center grow-0 m-0 p-0;
  list-style: none;
}
.navMenu li {
  @apply relative z-[1] mx-[0.25em] my-0 first:ml-0 last:mr-0;
}
.navMenu li:hover > a {
  @apply text-blue-500;
}
.navMenu li:hover > .navSubMenu {
  @apply block;
}
.navMenu li > .navSubMenu {
  @apply shadow-[0_2px_6px_rgba(0,0,0,0.3)] px-[0.8em] py-[0.5em];
}
.navMenu li .navSubMenu ul {
  @apply left-full top-0;
}
.navMenu a {
  @apply block no-underline text-gray-600 text-[1.1em] p-[0.5em];
}
@media (hover: hover) {
  .navMenu a:hover {
    @apply text-blue-500;
  }
}
.navMenu .navSubMenu {
  @apply hidden absolute whitespace-nowrap bg-white p-0;
  list-style: none;
}
.navMenu .navSubMenu li {
  @apply bg-[white] m-0;
}
.navMenu .navSubMenu li a {
  @apply text-base p-[0.3em];
}
